body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 1500px;
  height: 700px;
  border: 5px solid black;
  display: flex;
  align-items: center;
}
.left {
  width: 400px;
  height: 700px;
  border: 5px solid black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.sbyname {
  width: 180px;
  height: 100px;
  border: 5px solid orange;
  position: relative;
  background-color: rgba(220, 131, 21, 0.5);
  font-size: 45px;
  top: 40px;
}
.rpos {
  width: 180px;
  height: 100px;
  border: 5px solid orange;
  position: relative;
  left: 11px;
  top: 40px;
  background-color: rgba(220, 131, 21, 0.5);
  font-size: 45px;
}
.form {
  width: 400px;
  height: 400px;
  border: 5px solid black;
  position: relative;
  top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 23px;
}
input {
  width: 180px;
  height: 100px;
  border: 5px solid red;
  text-align: center;
  font-size: 20px;
}
.url {
  position: relative;
  left: 100px;
  bottom: 102px;
}
.name {
  position: relative;
  right: 100px;
  top: 10px;
}
button {
  width: 350px;
  height: 150px;
  position: absolute;
  top: 235px;
  border: 5px solid red;
  font-size: 70px;
}
.right {
  width: 1000px;
  height: 600px;
  border: 5px solid black;
  position: relative;
  left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  width: 870px;
  height: 500px;
  background-color: rgba(220, 131, 21, 0.5);
  border-radius: 20px;
  position: relative;
  bottom: 20px;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  gap: 20px;
}
.el {
  min-width: 230px;
  height: 400px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.img {
  width: 230px;
  height: 350px;
  border: 5px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  position: relative;
  bottom: 20px;
}
