* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Cascadia Code';
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	gap: 5px;
	overflow: hidden;
}

.data {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	border: 2px solid black;
}
.d1{
	border: 2px solid black;
}
.d2{
	border: 2px solid black;
}
.d3{
	border: 2px solid black;
}
.d4{
	border: 2px solid black;
}
.error{
	position: absolute;
	width: 300px;
	height: 100px;
	border: 2px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 2s;
	transform: translateX(350%);
}