body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 1500px;
  height: 700px;
  border: 5px solid black;
  display: flex;
  align-items: center;
}
.left{
  width: 400px;
  height: 700px;
  border: 5px solid black;
    display: flex;
    flex-direction: column;
  align-items: center;

}