* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cascadia Code";
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

ul {
  padding: 10px;
  border: 2px solid black;
  max-height: 500px;
  width: 650px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

ul > li {
  list-style: none;
}
li {
  width: 100px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid black;
}
.img {
  width: 200px;
  height: 200px;
}
.sort {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-image: url("./img/sort_descending_icon_151089.webp");
}
.search {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-image: url("./img/i.jpg");
}
.shop {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-image: url("./img/i.png");
  display: flex;
  align-items: end;
  justify-content: end;
  background-position: center;
}
.counter {
  width: 15px;
  height: 15px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.tab {
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchI {
  height: 500px;
  width: 300px;
  border: 5px solid black;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: aqua;
  transition: 1s all;
  transform: translateX(350%);
}
.min {
  width: 290px;
  height: 50px;
}
.max {
  width: 290px;
  height: 50px;
}
.title {
  width: 290px;
  height: 50px;
}
